@x-plateform:registry=https://medicinecenter-npm.pkg.coding.net/xplateform/npm/
always-auth=true
//medicinecenter-npm.pkg.coding.net/xplateform/npm/:username=npm-1705977903141
//medicinecenter-npm.pkg.coding.net/xplateform/npm/:_password=NzU1NmUwNjczYjc1Y2M0YWQ4NThkNDFlYTRhODg3NTVjZmYxMTI2NA==
//medicinecenter-npm.pkg.coding.net/xplateform/npm/:email=zzjinjin@yeah.net
