# @x-plateform:registry=https://medicinecenter-npm.pkg.coding.net/xplateform/npm/
# always-auth=true
# //medicinecenter-npm.pkg.coding.net/xplateform/npm/:username=npm-1705977903141
# //medicinecenter-npm.pkg.coding.net/xplateform/npm/:_password=NzU1NmUwNjczYjc1Y2M0YWQ4NThkNDFlYTRhODg3NTVjZmYxMTI2NA==
# //medicinecenter-npm.pkg.coding.net/xplateform/npm/:email=zzjinjin@yeah.net

@x-plateform:registry=https://packages.aliyun.com/68634499d30688ffa51fe2b4/npm/repo-npm/
always-auth=true
//packages.aliyun.com/68634499d30688ffa51fe2b4/npm/repo-npm/:_authToken=8727cfae-7a5a-4314-87e4-a9fde0ee606a
