@x-plateform:registry=https://packages.aliyun.com/68634499d30688ffa51fe2b4/npm/repo-npm/
always-auth=true
//packages.aliyun.com/68634499d30688ffa51fe2b4/npm/repo-npm/:_authToken=8727cfae-7a5a-4314-87e4-a9fde0ee606a